.menu {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  width: 1006px;
}

.menu-item {
  font-weight: 400;
  font-size: 14px;
}

.selected {
  color: #00FF66 !important;
  font-weight: 700 !important;
  line-height: 16.94px;
}