.table_ {
  padding-top: 32px;
  font-size: 14px;
  color: #EEEEEE;
  width: 1006px;
}

.table-title {
  font-size: 18px;
  font-weight: 800;
}

th, td {
  width: 252px;
  vertical-align: middle;
}

th {
  font-weight: 700;
}

td:last-child {
  text-align: end;
  padding-right: 8px
}

td:first-child {
  padding-left: 8px
}

th:first-child {
  padding-left: 8px
}

th:last-child {
  text-align: end;
  padding-right: 8px;
}

tr {
  height: 32px;
  width: 10006px;
}

tr:nth-child(even) {
  background-color: #00FF661A;
}

.seeMore {
  margin-top: 16px;
  display: flex;
  white-space: nowrap;
  border-radius: 4px;
  background-color: #00FF664D;
  border: 1px solid #00FF66;
  font-size: 12px;
  color: #FFFFFF;
  padding: 8px;
  width: 67px !important;
  height: 31px !important;;
}

.seeMore:hover {
  background-color: #00ff6671
}